/* SFONDO */
.home-container {
  width: 100%;
  height: 100vh;
  background-image: url("/bg-home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* CERCHIO CENTRALE */
.home-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

/* CARD CENTRALE */
.home-center-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* ICONA BASE */
.home-icon {
  position: absolute;
  width: 85px;
  height: 85px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.home-icon p {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
  margin-top: 2px;
}

/* POSIZIONI */

.icon-12 {
  top: calc(50% - 250px);
  left: calc(50% - 42px);
}

.icon-130 {
  top: calc(50% - 180px);
  left: calc(50% + 150px);
}

.icon-3 {
  top: calc(50% - 42px);
  left: calc(50% + 250px);
}

.icon-430 {
  top: calc(50% + 120px);
  left: calc(50% + 160px);
}

.icon-6 {
  top: calc(50% + 240px);
  left: calc(50% - 42px);
}

.icon-730 {
  top: calc(50% + 120px);
  left: calc(50% - 240px);
}

.icon-9 {
  top: calc(50% - 42px);
  left: calc(50% - 250px);
}

.icon-1030 {
  top: calc(50% - 180px);
  left: calc(50% - 240px);
}
